@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.cool-underline{
    position: relative;
    cursor: pointer;
}
.cool-underline::after{
    content: '';
    height: 10px;
    background-color: #4da16a;
    display: block;
    position: absolute;
    left: -8px;
    width: 0;
    bottom: 10px;
    z-index: -1;
    transform: skew(-21deg);
    transition: all 0.5s ease-in-out;
}
.cool-underline.show-underline::after{
    width: calc(100% + 16px);
}